<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>jsp20220405</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>initParamName1</param-name>
  	<param-value>initParamValue1</param-value>
  </context-param>
  
  <session-config>
  	<!-- session 유지시간 기본값: 30분 -->
  	<!-- 마지막 접근 후 유지시간 지나면 session 삭제됨 -->
  	<!-- 단위: 분(minutes) -->
  	<session-timeout>30</session-timeout>
  </session-config>
  
  <!-- 서블릿 설정 -->
  <servlet>
  	<servlet-name>S3Servlet01</servlet-name>
  	<servlet-class>chap17.servlet3.S3Servlet01</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>S3Servlet01</servlet-name>
  	<url-pattern>/s3/servlet01</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>S3Servlet02</servlet-name>
  	<servlet-class>chap17.servlet3.S3Servlet02</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>S3Servlet02</servlet-name>
  	<url-pattern>/s3/servlet02</url-pattern>
  </servlet-mapping>
</web-app>













